## Exercício 1: Vestibular

Considere que a os dados gerados na célula abaixo contêm o número de acertos de 100 alunos em um vestibular para um curso de exatas, divididas pelos respectivos assuntos. Considere que cada assunto possui um número de questões conforme a tabela abaixo:

| assunto | número de questões |
|:---:|:---:|
| Matemática | 24 |
| Português | 18 |
| Geografia | 8 |
| Inglês | 8 |
| História | 8 |
| Física | 12 |
| Química | 12 |

Usando os comandos de operações com DataFrames que você aprendeu na Aula 03, calcule:

1. (operações com escalar) Calcule o percentual de acerto dos alunos por assunto.  
2. (operações entre *DataFrames) Calcule o total de acertos de cada aluno.  
3. Calcule o porcentual geral de cada aluno.  
4. Suponha que a nota de corte para a segunda fase seja 45. Quantos alunos tiveram nota maior que 45?

In [30]:
import pandas as pd
import numpy as np

np.random.seed(42)
df_mat = pd.DataFrame(np.random.randint(24, size=(100, 1)), columns=['Qt_acertos_mat'])

df_por = pd.DataFrame(np.random.randint(18, size=(100, 1)), columns=['Qt_acertos_por'])

df_geo = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos_geo'])

df_ing = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos_ing'])

df_his = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos_his'])

df_fis = pd.DataFrame(np.random.randint(12, size=(100, 1)), columns=['Qt_acertos_fis'])

df_qui = pd.DataFrame(np.random.randint(12, size=(100, 1)), columns=['Qt_acertos_qui'])

In [31]:
# 1) Seu código aqui

pc_mat = df_mat / 24
pc_por = df_por / 18
pc_geo = df_geo /  8
pc_ing = df_ing /  8
pc_his = df_his /  8
pc_fis = df_fis /  8
pc_qui = df_qui /  8

In [40]:
# 2) Seu código aqui
total = pd.concat([df_mat, df_por, df_geo, df_ing, df_his, df_fis, df_qui], axis=1)
total['Qt_acertos'] = total.sum(axis=1)
total['Qt_acertos']

0     35
1     48
2     50
3     32
4     30
      ..
95    34
96    27
97    40
98    40
99    42
Name: Qt_acertos, Length: 100, dtype: int64

In [34]:
# 3) Seu código aqui
total/100

0     0.35
1     0.48
2     0.50
3     0.32
4     0.30
      ...
95    0.34
96    0.27
97    0.40
98    0.40
99    0.42
Length: 100, dtype: float64

In [93]:
# 4) Seu código aqui
aprovados = total[total['Qt_acertos'] > 45]
aprovados['Qt_acertos'].count()

31

## 2) Vestibular II

Ainda sobre o mesmo banco de dados:

1. Neste vestibular, quem 'zera' em matemática, física ou química está desqualificado. Monte um novo *DataFrame* com os alunos desqualificados por este critério.
2. Quantos são esses alunos?
3. Qual a média desses alunos em história e geografia?
4. Monte um *DataFrame* com os alunos que passaram para a segunda fase. Repare que estes alunos não podem ter sido desqualificados.

In [46]:
# passo 1
df_eliminados = total[(df_mat['Qt_acertos_mat'] == 0) | 
                      (df_fis['Qt_acertos_fis'] == 0) | 
                      (df_qui['Qt_acertos_qui'] == 0)]
df_eliminados[['Qt_acertos_mat', 'Qt_acertos_fis', 'Qt_acertos_qui']]

    Qt_acertos_mat  Qt_acertos_fis  Qt_acertos_qui
3               10               0               8
6                6               0               4
10              10               7               0
12              20               0               3
14               7               4               0
20              23               2               0
25               0               4               8
26              11               0               0
27              21               3               0
33              14               6               0
35              11               0              11
49               8               0               8
56               7               0               8
65               1               0               6
66               5               0              10
72              11               0               9
73               1               0              11
74               9               7               0
84              15               0               4
89              23               9               0
92              14               8               0
94               0               3               8
98               0              10              11

In [49]:
#passo 2
df_eliminados['Qt_acertos'].count().sum()

23

In [60]:
#passo 3

df_eliminados[['Qt_acertos_his', 'Qt_acertos_geo']]

    Qt_acertos_his  Qt_acertos_geo
3                0               3
6                5               7
10               1               3
12               1               3
14               1               1
20               6               6
25               0               7
26               7               6
27               7               1
33               6               0
35               3               6
49               1               1
56               6               7
65               3               2
66               3               3
72               7               3
73               3               2
74               5               0
84               1               0
89               6               7
92               1               1
94               1               2
98               5               3

In [97]:
#passo 4
df_aprovados = total[
       (total["Qt_acertos"] > 45) &
       (total["Qt_acertos_mat"] > 0) &
       (total["Qt_acertos_fis"] > 0) &
       (total["Qt_acertos_qui"] > 0)
       ].copy()

df_aprovados

,Qt_acertos_mat,Qt_acertos_por,Qt_acertos_geo,Qt_acertos_ing,Qt_acertos_his,Qt_acertos_fis,Qt_acertos_qui,Qt_acertos
1,19,10,0,0,0,11,8,48
2,14,16,0,5,7,4,4,50
5,20,2,5,3,2,9,9,50
7,18,4,4,7,7,1,8,49
8,22,9,2,7,6,5,7,58
17,21,15,2,2,4,2,6,52
18,20,4,3,5,3,11,4,50
24,20,2,7,5,3,11,2,50
31,15,13,3,1,3,9,10,54
36,22,9,6,6,1,4,8,56
37,19,12,5,7,1,6,2,52
39,4,16,2,4,6,9,8,49
40,18,3,6,3,6,5,6,47
42,20,6,7,7,2,3,3,48
45,17,10,0,2,6,9,4,48
48,17,6,0,7,5,9,11,55
60,16,8,0,4,4,7,9,48
62,17,6,2,4,7,1,9,46
67,21,0,7,2,4,2,10,46
70,21,14,0,3,5,11,8,62
71,17,8,7,6,4,2,9,53
77,15,2,5,7,6,11,7,53
78,14,16,7,2,7,11,9,66
81,22,16,2,0,4,1,10,55
88,20,1,1,5,7,9,7,50
93,12,16,5,5,6,6,6,56

## 3) Vacinações no Acre
Vamos trabalhar agora com a base de vacinações no Acre. Para facilitar a sua vida, copiamos o link do arquivo na célula abaixo.

1. Quantas vacinas estão registradas nessa base?  
2. Quantos pacientes foram vacinados? (considere um paciente para cada valor único de ```paciente_id```)  
3. Quantos pacientes únicos tomaram a primeira dose? OBS: Há um caractere especial neste campo. Receba os valores do campo com o método ```.unique()```.   
4. Quantos pacientes com menos de 18 anos foram vacinados?  
5. Quantos estabelecimentos aplicaram vacina no Acre?


**OBS:** O portal do DATASUS pode apresentar instabilidades, retornando um erro na segunda célula abaixo. Por este motivo está disponível uma base estática, que se for baixada para o seu *working directory* pode ser lida com este comando: ```df = pd.read_csv('registros de vacinacao covid ACRE.csv', sep=';')```.

**OBS2:** Para saber qual é o seu working directory, rode no jupyter: ```!pwd```.

In [68]:
arquivo = 'https://s3.sa-east-1.amazonaws.com/ckan.saude.gov.br/SIPNI/COVID/uf/uf%3DAC/part-00000-f9aa69c5-6c18-440f-9254-3d1447929d6b.c000.csv'

In [69]:
# 1) Sua solução aqui
df = pd.read_csv(arquivo, sep=';')

In [70]:
df.head()

,document_id,paciente_id,paciente_idade,paciente_dataNascimento,paciente_enumSexoBiologico,paciente_racaCor_codigo,paciente_racaCor_valor,paciente_endereco_coIbgeMunicipio,paciente_endereco_coPais,paciente_endereco_nmMunicipio,...,vacina_categoria_codigo,vacina_categoria_nome,vacina_lote,vacina_fabricante_nome,vacina_fabricante_referencia,vacina_dataAplicacao,vacina_descricao_dose,vacina_codigo,vacina_nome,sistema_origem
0,e32715ba-bba3-4ccd-8e90-e8d930321f34-i0b0,00158d713d239cf3ef860824ebf73d3eb9a9a5042d9569...,52,1968-08-09,M,4,AMARELA,120040.0,10.0,RIO BRANCO,...,1.0,Comorbidades,FA9096,PFIZER,Organization/00394544000851,2021-08-07,2ª Dose,87,COVID-19 PFIZER - COMIRNATY,Novo PNI
1,66eb2b3e-40c9-4f25-8771-3222dd3e77b2-i0b0,42c12b41b63291facf4c5dd887e1a7b857ebaac3c6ae4a...,56,1965-07-25,M,3,PARDA,120040.0,10.0,RIO BRANCO,...,1.0,Comorbidades,FH8023,PFIZER,Organization/28290,2021-12-04,Dose Adicional,87,COVID-19 PFIZER - COMIRNATY,Novo PNI
2,03850c39-5c67-4e68-98af-96be50d9042b-i0b0,f529b2a120cdf937144c6decfb5340d96e5a65df196363...,15,2005-09-21,F,4,AMARELA,120010.0,10.0,BRASILEIA,...,2.0,Faixa Etária,FA9096,PFIZER,Organization/00394544000851,2021-08-10,1ª Dose,87,COVID-19 PFIZER - COMIRNATY,Novo PNI
3,66ff3293-3ee5-4cfb-9425-6ef645d51b3f-i0b0,3dcc3b0528cba132b2f62317e18ffcfbad7a0e6aee7697...,45,1975-12-19,M,99,SEM INFORMACAO,120040.0,10.0,RIO BRANCO,...,2.0,Faixa Etária,1855836,JANSSEN,Organization/30587,2021-12-14,Reforço,88,COVID-19 JANSSEN - Ad26.COV2.S,Novo PNI
4,51a2b293-2d0a-4f0b-81b8-285afcfb84b2-i0b0,b0f5c768054bbeb2658fbda71a3226d5bd4200dca52374...,5,2017-06-19,M,1,BRANCA,120060.0,10.0,TARAUACA,...,NaN,NaN,210520,SINOVAC/BUTANTAN,29501,2022-09-21,1ª Dose,86,COVID-19 SINOVAC/BUTANTAN - CORONAVAC,Novo PNI

In [71]:
df.shape[0]

370371

In [67]:
# 2) 
df['paciente_id'].nunique()

305284

In [72]:
# 3) 
primeira_dose = df['vacina_descricao_dose'].unique()[0]
df['paciente_id'].loc[df['vacina_descricao_dose'] == primeira_dose].nunique()

118643

In [73]:
# 3) solução alternativa
primeira_dose = df['vacina_descricao_dose'].unique()[0]
df_primeira_dose = df[df['vacina_descricao_dose'] == primeira_dose]
df_primeira_dose['paciente_id'].nunique()

118643

In [74]:
# 4) 
df_menor = df[df["paciente_idade"]<18]
df_menor['paciente_id'].nunique()

61000

In [77]:
# 5)
df['estabelecimento_razaoSocial'].nunique()

55

## 4) Vacinação II
Gere um *DataFrame* que contenha somente os estabelecimentos que aplicaram vcinas a menores de 18 anos. Nesse *DataFrame* devem conter somente os dados dos estabelecimentos, mais uma coluna sendo a quantidade de vacinas que o estabelecimento aplicou a menores de 18 anos.  
  
1. crie uma cópia do *DataFrame* original, contendo somente os registros de vacinas realizadas a menores de 18 anos.  
2. crie uma lista das colunas desse *DataFrame* com o atributo de *DataFrame* **.columns()**  
3. Nesse *DataFrame* faça uma contagem do campo ```vacina_categoria_nome```.
3. a partir da lista de colunas, escolha somente aquelas que são referentes ao estabelecimento, faça uma lista com esses valores.  
4. usando o método *.loc*, selecione somente essas variáveis  
5. Aplique o método **.drop_duplicates** e crie uma lista com uma linha para cada estabelecimento, com os dados do estabelecimento

In [98]:
# 1) 
df_menor = df[df["paciente_idade"]<18].copy()

In [99]:
# 2) 
df_menor.columns

Index(['document_id', 'paciente_id', 'paciente_idade',
       'paciente_dataNascimento', 'paciente_enumSexoBiologico',
       'paciente_racaCor_codigo', 'paciente_racaCor_valor',
       'paciente_endereco_coIbgeMunicipio', 'paciente_endereco_coPais',
       'paciente_endereco_nmMunicipio', 'paciente_endereco_nmPais',
       'paciente_endereco_uf', 'paciente_endereco_cep',
       'paciente_nacionalidade_enumNacionalidade', 'estabelecimento_valor',
       'estabelecimento_razaoSocial', 'estalecimento_noFantasia',
       'estabelecimento_municipio_codigo', 'estabelecimento_municipio_nome',
       'estabelecimento_uf', 'vacina_grupoAtendimento_codigo',
       'vacina_grupoAtendimento_nome', 'vacina_categoria_codigo',
       'vacina_categoria_nome', 'vacina_lote', 'vacina_fabricante_nome',
       'vacina_fabricante_referencia', 'vacina_dataAplicacao',
       'vacina_descricao_dose', 'vacina_codigo', 'vacina_nome',
       'sistema_origem'],
      dtype='object')

In [80]:
# 3)
df_menor['vacina_categoria_nome'].value_counts()

vacina_categoria_nome
Faixa Etária                                      40077
Outros                                             3701
Povos Indígenas                                    3441
Povos e Comunidades Tradicionais                    680
Trabalhadores de Saúde                              238
Comorbidades                                         53
População Privada de Liberdade                       51
Gestantes                                            31
Pessoas com Deficiência                              10
Pessoas Institucionalizadas                           3
Pessoas de 60 anos ou mais institucionalizadas        1
Puérperas                                             1
Trabalhadores da Educação                             1
Name: count, dtype: int64

In [100]:
# 4)
lista_variaveis = ['estabelecimento_valor',
       'estabelecimento_razaoSocial', 'estalecimento_noFantasia',
       'estabelecimento_municipio_codigo', 'estabelecimento_municipio_nome',
       'estabelecimento_uf']
df_menor_lista = df_menor.loc[:,lista_variaveis]

In [84]:
# 5)
df_menor_lista = df_menor_lista.drop_duplicates()
df_menor_lista

,estabelecimento_valor,estabelecimento_razaoSocial,estalecimento_noFantasia,estabelecimento_municipio_codigo,estabelecimento_municipio_nome,estabelecimento_uf
2,2001349,PREFEITURA MUNICIPAL DE BRASILEIA,ESF TUFIC MIZAEL SAADY,120010,BRASILEIA,AC
4,3810771,PREFEITURA MUNICIPAL DE TARAUACA,UNIDADE DE S DA FAMILIA DR JOSE LEONCIO GOMES ...,120060,TARAUACA,AC
7,2000482,PREFEITURA MUNICIPAL DE RIO BRANCO,URAP VILA IVONETE,120040,RIO BRANCO,AC
12,2003066,PREFEITURA MUNICIPAL DE ASSIS BRASIL,UNIDADE BASICA DE SAUDE TEREZINHA BATISTA DOS ...,120005,ASSIS BRASIL,AC
13,2000040,PREFEITURA MUNICIPAL DE FEIJO,CENTRO DE SAUDE DIAMANTINO MACEDO,120030,FEIJO,AC
...,...,...,...,...,...,...
219137,7123043,PREFEITURA MUNICIPAL DE JORDAO,SAUDE DA FAMILIA RIBEIRINHA,120032,JORDAO,AC
223153,7565534,MUNICIPIO DE RIO BRANCO,USF LUANA FREITAS I,120040,RIO BRANCO,AC
245926,3015483,PREFEITURA MUNICIPAL DE RIO BRANCO,USF ANTENOR RAMOS II,120040,RIO BRANCO,AC
250885,2001357,SECRETARIA MUNICIPAL DE SAUDE DE BRASILEIA,ESF PEDRO OLIVEIRA DE SOUZA,120010,BRASILEIA,AC
270326,3331784,MUNICIPIO DE RIO BRANCO,USF MARIA VERONICA II,120040,RIO BRANCO,AC