# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [1]:
import pandas as pd
import numpy as np

# Seu código aqui
anomaliaDict = {
    '1900': -0.08,
    '1920': -0.27,
    '1940': 0.12,
    '1960': -0.03,
    '1980': 0.26,
    '2000': 0.40,
    '2020': 1.02
}

anomaliaSeries = pd.Series(anomaliaDict)
anomaliaSeries

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [2]:

# seu código aqui
anomaliaDict = {
    '1900': -0.08,
    '1920': -0.27,
    '1940': 0.12,
    '1960': -0.03,
    '1980': 0.26,
    '2000': 0.40,
    '2020': 1.02
}

anomaliaSeries = pd.Series(anomaliaDict)
anomaliaSeries

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [3]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# seu código aqui
temperaturasSeries = pd.Series(dic_temperaturas)
temperaturasSeries

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [4]:
arr = np.random.normal(100, 10, (20,3))

# seu código aqui
arrDf = pd.DataFrame(arr)
arrDf

             0           1           2
0    95.872355   93.455598  115.313408
1   101.646379  101.110184  111.626015
2    89.371259  105.296010  106.407400
3    90.535968  104.885918   94.007556
4    88.019790  108.016135  109.330463
5    86.772050   98.128190  100.907255
6    99.915340   86.493657  101.932990
7   106.407164   82.946575   98.632012
8   112.151940  110.781306  105.957950
9   108.636643  105.919674   88.170643
10   96.817211  104.253212   96.176381
11  113.174169  103.922888   96.253400
12  112.824461  102.636759  114.290774
13   92.472313  106.374719  109.780500
14  102.939873   99.460821  101.586018
15  101.991143  104.478080   94.645459
16   87.881730  107.191818   94.792504
17  107.972282   85.442277   84.360822
18  125.282754   89.660441  105.524727
19   99.830897   95.432929  113.440577

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [5]:
#seu código aqui
arrIndex = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
arrColumns = ['x1','x2','x3']

arrDf = pd.DataFrame(arr, index=arrIndex, columns=arrColumns)
arrDf

            x1          x2          x3
1    95.872355   93.455598  115.313408
2   101.646379  101.110184  111.626015
3    89.371259  105.296010  106.407400
4    90.535968  104.885918   94.007556
5    88.019790  108.016135  109.330463
6    86.772050   98.128190  100.907255
7    99.915340   86.493657  101.932990
8   106.407164   82.946575   98.632012
9   112.151940  110.781306  105.957950
10  108.636643  105.919674   88.170643
11   96.817211  104.253212   96.176381
12  113.174169  103.922888   96.253400
13  112.824461  102.636759  114.290774
14   92.472313  106.374719  109.780500
15  102.939873   99.460821  101.586018
16  101.991143  104.478080   94.645459
17   87.881730  107.191818   94.792504
18  107.972282   85.442277   84.360822
19  125.282754   89.660441  105.524727
20   99.830897   95.432929  113.440577

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [13]:
# seu código aqui
arrDf['media'] = arrDf[['x1', 'x2', 'x3']].mean(axis=1)
arrDf

            x1          x2          x3       media  log_average
1    95.872355   93.455598  115.313408  101.547120     4.620523
2   101.646379  101.110184  111.626015  104.794192     4.651998
3    89.371259  105.296010  106.407400  100.358223     4.608746
4    90.535968  104.885918   94.007556   96.476481     4.569299
5    88.019790  108.016135  109.330463  101.788796     4.622900
6    86.772050   98.128190  100.907255   95.269165     4.556706
7    99.915340   86.493657  101.932990   96.113996     4.565535
8   106.407164   82.946575   98.632012   95.995250     4.564299
9   112.151940  110.781306  105.957950  109.630399     4.697115
10  108.636643  105.919674   88.170643  100.908986     4.614219
11   96.817211  104.253212   96.176381   99.082268     4.595950
12  113.174169  103.922888   96.253400  104.450152     4.648710
13  112.824461  102.636759  114.290774  109.917331     4.699729
14   92.472313  106.374719  109.780500  102.875844     4.633523
15  102.939873   99.460821  101.586018  101.328904     4.618372
16  101.991143  104.478080   94.645459  100.371561     4.608879
17   87.881730  107.191818   94.792504   96.622017     4.570807
18  107.972282   85.442277   84.360822   92.591794     4.528201
19  125.282754   89.660441  105.524727  106.822641     4.671170
20   99.830897   95.432929  113.440577  102.901468     4.633772

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [7]:
# seu código aqui
arrDf['log_average'] = np.log(arrDf['media'])
arrDf

            x1          x2          x3       media  log_average
1    95.872355   93.455598  115.313408  101.547120     4.620523
2   101.646379  101.110184  111.626015  104.794192     4.651998
3    89.371259  105.296010  106.407400  100.358223     4.608746
4    90.535968  104.885918   94.007556   96.476481     4.569299
5    88.019790  108.016135  109.330463  101.788796     4.622900
6    86.772050   98.128190  100.907255   95.269165     4.556706
7    99.915340   86.493657  101.932990   96.113996     4.565535
8   106.407164   82.946575   98.632012   95.995250     4.564299
9   112.151940  110.781306  105.957950  109.630399     4.697115
10  108.636643  105.919674   88.170643  100.908986     4.614219
11   96.817211  104.253212   96.176381   99.082268     4.595950
12  113.174169  103.922888   96.253400  104.450152     4.648710
13  112.824461  102.636759  114.290774  109.917331     4.699729
14   92.472313  106.374719  109.780500  102.875844     4.633523
15  102.939873   99.460821  101.586018  101.328904     4.618372
16  101.991143  104.478080   94.645459  100.371561     4.608879
17   87.881730  107.191818   94.792504   96.622017     4.570807
18  107.972282   85.442277   84.360822   92.591794     4.528201
19  125.282754   89.660441  105.524727  106.822641     4.671170
20   99.830897   95.432929  113.440577  102.901468     4.633772