# Módulo 07, Tarefa 01

Vamos começar a mexer na nossa base de projeto? Já fizemos um exercício de montar a variável resposta, já pudemos perceber que essa atividade pode não ser trivial. Vamos agora trabalhar a base para que fique propícia ao *scikitlearn* para trabalharmos.

Lembrando, a base se chama demo01.csv, e originalmente está publicada [aqui](https://www.kaggle.com/rikdifos/credit-card-approval-prediction).

#### 1) Carregue a base e avalie:

- As variáveis
- Tipos de dados de cada variável
- Quantidade de missings
- Distribuição da variável resposta (mau)

In [4]:
import pandas as pd
import numpy as np
import seaborn as sns

dados = pd.read_csv('demo01.csv')
dados.head()

,sexo,posse_de_veiculo,posse_de_imovel,qtd_filhos,tipo_renda,educacao,estado_civil,tipo_residencia,idade,tempo_emprego,possui_celular,possui_fone_comercial,possui_fone,possui_email,qt_pessoas_residencia,mau
0,M,Y,Y,0,Working,Secondary / secondary special,Married,House / apartment,58.832877,3.106849,1,0,0,0,2.0,False
1,F,N,Y,0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,52.356164,8.358904,1,0,1,1,1.0,False
2,F,N,Y,0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,52.356164,8.358904,1,0,1,1,1.0,False
3,M,Y,Y,0,Working,Higher education,Married,House / apartment,46.224658,2.106849,1,1,1,1,2.0,False
4,F,Y,N,0,Working,Incomplete higher,Married,House / apartment,29.230137,3.021918,1,0,0,0,2.0,False

In [5]:
dados.shape

(16650, 16)

In [6]:
dados.dtypes

sexo                      object
posse_de_veiculo          object
posse_de_imovel           object
qtd_filhos                 int64
tipo_renda                object
educacao                  object
estado_civil              object
tipo_residencia           object
idade                    float64
tempo_emprego            float64
possui_celular             int64
possui_fone_comercial      int64
possui_fone                int64
possui_email               int64
qt_pessoas_residencia    float64
mau                         bool
dtype: object

In [7]:
dados_limpo = dados.drop_duplicates()

#### 2) Vamos montar um metadados

1. Crie um dataframe com os nomes de cada variável e o tipo de dados de cada variável.
2. Adicione uma coluna nesse *dataframe* chamada "qtd_categorias" e coloque nela o número de categorias correspondente de cada variável. 
    Dica: 
        1. inicie uma lista vazia
        2. faça um for ao longo dos nomes das variáveis, 
        3. conte o número de categorias dessa variável 
        4. acumule essa informação de 3. na lista que você criou em 1. 
        5. No final, essa lista pode ser atribuída à nossa variável.
3. Crie variáveis dummy para as variáveis necessárias (i.e. aquelas que são qualitativas e não estão armazenadas como {0, 1} ou {True, False}.

In [8]:
# etapa 1 e 2

#criando dataframe
metadata_df = pd.DataFrame(dados_limpo.columns, columns=['variavel'])

#contando categorias, tipos de dados e gerando colunas
metadata_df['qtd_categorias'] = [dados_limpo[column].nunique() for column in dados_limpo.columns]
metadata_df['tipo_dados'] = [dados_limpo[column].dtype for column in dados_limpo.columns]

metadata_df

                 variavel  qtd_categorias tipo_dados
0                    sexo               2     object
1        posse_de_veiculo               2     object
2         posse_de_imovel               2     object
3              qtd_filhos               8      int64
4              tipo_renda               5     object
5                educacao               5     object
6            estado_civil               5     object
7         tipo_residencia               6     object
8                   idade            5298    float64
9           tempo_emprego            3005    float64
10         possui_celular               1      int64
11  possui_fone_comercial               2      int64
12            possui_fone               2      int64
13           possui_email               2      int64
14  qt_pessoas_residencia               9    float64
15                    mau               2       bool

In [9]:
dados_limpo['estado_civil'].unique()

array(['Married', 'Single / not married', 'Civil marriage', 'Widow',
       'Separated'], dtype=object)

In [10]:
df_com_dummies = dados_limpo.copy()
#tipo de renda
tipo_renda_dummies = pd.get_dummies(df_com_dummies['tipo_renda'], prefix='tipo_renda')
df_com_dummies = pd.concat([df_com_dummies.drop('tipo_renda', axis=1), tipo_renda_dummies], axis=1)
#educacao
educacao_dummies = pd.get_dummies(df_com_dummies['educacao'], prefix='educacao')
df_com_dummies = pd.concat([df_com_dummies.drop('educacao', axis=1), educacao_dummies], axis=1)
#estado civil
estado_civil_dummies = pd.get_dummies(df_com_dummies['estado_civil'], prefix='estado_civil')
df_com_dummies = pd.concat([df_com_dummies.drop('estado_civil', axis=1), estado_civil_dummies], axis=1)
#tipo de residencia
tipo_residencia_dummies = pd.get_dummies(df_com_dummies['tipo_residencia'], prefix='tipo_residencia')
df_com_dummies = pd.concat([df_com_dummies.drop('tipo_residencia', axis=1), tipo_residencia_dummies], axis=1)

In [11]:
#sexo
df_com_dummies['sexo'] = df_com_dummies['sexo'].map({'F': 1, 'M': 0})

In [12]:
#posse de veiculo, posse de imovel
df_com_dummies['posse_de_imovel'] = df_com_dummies['posse_de_imovel'].map({'Y': 1, 'N': 0})
df_com_dummies['posse_de_veiculo'] = df_com_dummies['posse_de_veiculo'].map({'Y': 1, 'N': 0})

In [13]:
#conferindo resultado
metadata_df_dummies = pd.DataFrame(df_com_dummies.columns, columns=['variavel'])

metadata_df_dummies['qtd_categorias'] = [df_com_dummies[column].nunique() for column in df_com_dummies.columns]
metadata_df_dummies['tipo_dados'] = [df_com_dummies[column].dtype for column in df_com_dummies.columns]

metadata_df_dummies

                                  variavel  qtd_categorias tipo_dados
0                                     sexo               2      int64
1                         posse_de_veiculo               2      int64
2                          posse_de_imovel               2      int64
3                               qtd_filhos               8      int64
4                                    idade            5298    float64
5                            tempo_emprego            3005    float64
6                           possui_celular               1      int64
7                    possui_fone_comercial               2      int64
8                              possui_fone               2      int64
9                             possui_email               2      int64
10                   qt_pessoas_residencia               9    float64
11                                     mau               2       bool
12         tipo_renda_Commercial associate               2       bool
13                    tipo_renda_Pensioner               2       bool
14                tipo_renda_State servant               2       bool
15                      tipo_renda_Student               2       bool
16                      tipo_renda_Working               2       bool
17                educacao_Academic degree               2       bool
18               educacao_Higher education               2       bool
19              educacao_Incomplete higher               2       bool
20                educacao_Lower secondary               2       bool
21  educacao_Secondary / secondary special               2       bool
22             estado_civil_Civil marriage               2       bool
23                    estado_civil_Married               2       bool
24                  estado_civil_Separated               2       bool
25       estado_civil_Single / not married               2       bool
26                      estado_civil_Widow               2       bool
27         tipo_residencia_Co-op apartment               2       bool
28       tipo_residencia_House / apartment               2       bool
29     tipo_residencia_Municipal apartment               2       bool
30        tipo_residencia_Office apartment               2       bool
31        tipo_residencia_Rented apartment               2       bool
32            tipo_residencia_With parents               2       bool

#### 3) Crie variáveis dummy para as variáveis necessárias (i.e. aquelas que são qualitativas e não estão armazenadas como {0, 1} ou {True, False}. Crie um *dataframe* apenas com as variáveis apropriadas para entrada no scikitlearn - elimine as variáveis tipo *str*, mantendo apenas suas versões *dummy*.

In [14]:
df_com_dummies.head()

,sexo,posse_de_veiculo,posse_de_imovel,qtd_filhos,idade,tempo_emprego,possui_celular,possui_fone_comercial,possui_fone,possui_email,...,estado_civil_Married,estado_civil_Separated,estado_civil_Single / not married,estado_civil_Widow,tipo_residencia_Co-op apartment,tipo_residencia_House / apartment,tipo_residencia_Municipal apartment,tipo_residencia_Office apartment,tipo_residencia_Rented apartment,tipo_residencia_With parents
0,0,1,1,0,58.832877,3.106849,1,0,0,0,...,True,False,False,False,False,True,False,False,False,False
1,1,0,1,0,52.356164,8.358904,1,0,1,1,...,False,False,True,False,False,True,False,False,False,False
3,0,1,1,0,46.224658,2.106849,1,1,1,1,...,True,False,False,False,False,True,False,False,False,False
4,1,1,0,0,29.230137,3.021918,1,0,0,0,...,True,False,False,False,False,True,False,False,False,False
6,1,0,1,0,27.482192,4.024658,1,0,1,0,...,True,False,False,False,False,True,False,False,False,False

#### 4) Qual variável é mais poderosa?

Considere as variáveis ```possui_email``` e ```posse_de_veiculo```. Faça uma tabela cruzada entre elas e responda qual delas te parece mais poderosa para prever a probabilidade de ```mau = 1```?

In [15]:
cross_table = pd.crosstab(df_com_dummies['possui_email'] , df_com_dummies['posse_de_veiculo'])
cross_table = cross_table.rename(columns={0: 'possui_email', 1: 'posse_de_veiculo'})
cross_table

posse_de_veiculo  possui_email  posse_de_veiculo
possui_email
0                         3878              2327
1                          333               232

possui_email pois tem uma quantidade de valores muito maior que posse_de_veiculo, logo irá influenciar mais

#### 5) Salve a base, pois ela será utilizada no final deste módulo.

In [16]:
df_com_dummies.reset_index(drop=True, inplace=True)
df_com_dummies.to_csv('dataframe_com_dummies.csv')