# Índice <a name="Contents"></a>
1. [Importando bibliotecas](#import)
2. [Construindo um dataframe](#read)
3. [Renomeando colunas](#colunas)
4. [Renomeando índices](#indices)

# 1. Importando bibliotecas <a name="import"></a>

<div style="text-align: right"
     
[Voltar ao índice](#Contents)

In [1]:
import pandas as pd
import numpy  as np

# 2. Construindo um dataframe <a name="read"></a>
<div style="text-align: right"
     
[Voltar ao índice](#Contents)

In [17]:
df = pd.DataFrame(
    np.random.randn(9, 4)*100,
    index=["A", "B", "C", "D", "E", "F", "G", "H", "I"],
    columns=["coluna1", "coluna2", "coluna3","coluna4"],
)
df

      coluna1     coluna2     coluna3     coluna4
A  -68.614927  -29.782478 -102.085533  -68.033801
B  -50.713220   47.513252  -64.372967    8.603846
C -124.278295   45.177542  -28.362668   33.823789
D  -87.685035 -121.012600    9.851646  103.883626
E   61.557917 -115.591889    7.591063    0.925163
F   68.432203  -20.547590  -93.994145   60.848024
G   37.608402 -166.555662  -40.197482  199.302900
H    6.230237 -137.947229  110.723294   45.738695
I  206.588896  -71.368585 -235.579132 -116.022767

# 3. Renomeando colunas <a name="colunas"></a>
<div style="text-align: right"
     
[Voltar ao índice](#Contents)

In [8]:
df.columns

Index(['coluna1', 'coluna2', 'coluna3', 'coluna4'], dtype='object')

In [9]:
df.columns = ['segunda', 'terça', 'quarta', 'quinta']

In [10]:
df.columns

Index(['segunda', 'terça', 'quarta', 'quinta'], dtype='object')

In [11]:
df

      segunda       terça      quarta      quinta
A   20.965878  -35.105029  -87.832818   34.716740
B   -3.995714  -86.964021   14.683675 -136.109163
C -163.751117 -130.172054    6.071049 -161.435908
D   97.882060 -121.905729 -227.737474  -18.288670
E   15.952308 -205.005230   37.806262   77.941550
F -164.497655  -60.788470  -68.732043   74.184420
G  118.796303  177.459675  119.268501  -52.436025
H  -30.584227   63.444995  -92.318032   29.055350
I  -61.211823 -140.293120    4.523502  -35.814893

# 4. Renomeando índices <a name="indices"></a>
<div style="text-align: right"
     
[Voltar ao índice](#Contents)

In [22]:
df['index'] = ['letraA','letraB','letraC','letraD','letraE','letraF','letraG','letraH','letraI']

In [23]:
df

      coluna1     coluna2     coluna3     coluna4 coluna5   index
A  -68.614927  -29.782478 -102.085533  -68.033801  letraA  letraA
B  -50.713220   47.513252  -64.372967    8.603846  letraB  letraB
C -124.278295   45.177542  -28.362668   33.823789  letraC  letraC
D  -87.685035 -121.012600    9.851646  103.883626  letraD  letraD
E   61.557917 -115.591889    7.591063    0.925163  letraE  letraE
F   68.432203  -20.547590  -93.994145   60.848024  letraF  letraF
G   37.608402 -166.555662  -40.197482  199.302900  letraG  letraG
H    6.230237 -137.947229  110.723294   45.738695  letraH  letraH
I  206.588896  -71.368585 -235.579132 -116.022767  letraI  letraI

In [25]:
df.set_index('index')

           coluna1     coluna2     coluna3     coluna4 coluna5
index
letraA  -68.614927  -29.782478 -102.085533  -68.033801  letraA
letraB  -50.713220   47.513252  -64.372967    8.603846  letraB
letraC -124.278295   45.177542  -28.362668   33.823789  letraC
letraD  -87.685035 -121.012600    9.851646  103.883626  letraD
letraE   61.557917 -115.591889    7.591063    0.925163  letraE
letraF   68.432203  -20.547590  -93.994145   60.848024  letraF
letraG   37.608402 -166.555662  -40.197482  199.302900  letraG
letraH    6.230237 -137.947229  110.723294   45.738695  letraH
letraI  206.588896  -71.368585 -235.579132 -116.022767  letraI

In [26]:
df

      coluna1     coluna2     coluna3     coluna4 coluna5   index
A  -68.614927  -29.782478 -102.085533  -68.033801  letraA  letraA
B  -50.713220   47.513252  -64.372967    8.603846  letraB  letraB
C -124.278295   45.177542  -28.362668   33.823789  letraC  letraC
D  -87.685035 -121.012600    9.851646  103.883626  letraD  letraD
E   61.557917 -115.591889    7.591063    0.925163  letraE  letraE
F   68.432203  -20.547590  -93.994145   60.848024  letraF  letraF
G   37.608402 -166.555662  -40.197482  199.302900  letraG  letraG
H    6.230237 -137.947229  110.723294   45.738695  letraH  letraH
I  206.588896  -71.368585 -235.579132 -116.022767  letraI  letraI

In [27]:
df.reset_index()

  level_0     coluna1     coluna2     coluna3     coluna4 coluna5   index
0       A  -68.614927  -29.782478 -102.085533  -68.033801  letraA  letraA
1       B  -50.713220   47.513252  -64.372967    8.603846  letraB  letraB
2       C -124.278295   45.177542  -28.362668   33.823789  letraC  letraC
3       D  -87.685035 -121.012600    9.851646  103.883626  letraD  letraD
4       E   61.557917 -115.591889    7.591063    0.925163  letraE  letraE
5       F   68.432203  -20.547590  -93.994145   60.848024  letraF  letraF
6       G   37.608402 -166.555662  -40.197482  199.302900  letraG  letraG
7       H    6.230237 -137.947229  110.723294   45.738695  letraH  letraH
8       I  206.588896  -71.368585 -235.579132 -116.022767  letraI  letraI

In [28]:
df.reset_index(drop=True)

      coluna1     coluna2     coluna3     coluna4 coluna5   index
0  -68.614927  -29.782478 -102.085533  -68.033801  letraA  letraA
1  -50.713220   47.513252  -64.372967    8.603846  letraB  letraB
2 -124.278295   45.177542  -28.362668   33.823789  letraC  letraC
3  -87.685035 -121.012600    9.851646  103.883626  letraD  letraD
4   61.557917 -115.591889    7.591063    0.925163  letraE  letraE
5   68.432203  -20.547590  -93.994145   60.848024  letraF  letraF
6   37.608402 -166.555662  -40.197482  199.302900  letraG  letraG
7    6.230237 -137.947229  110.723294   45.738695  letraH  letraH
8  206.588896  -71.368585 -235.579132 -116.022767  letraI  letraI