# 0. Índice <a name="Contents"></a>
1. [Importando bibliotecas](#import)
2. [Construindo um dataframe](#read)
3. [Identificando dados ausentes/missing](#identificando)
4. [Tratando dados ausentes/missing](#tratando)
5. [Dados duplicados](#duplicados)
6. [Mapeamento](#map)

# 1. Importando bibliotecas <a name="import"></a>

<div style="text-align: right"
     
[Voltar ao índice](#Contents)

In [2]:
import pandas as pd
import numpy as np

# 2. Construindo um dataframe <a name="read"></a>
<div style="text-align: right"
     
[Voltar ao índice](#Contents)

In [3]:
df = pd.DataFrame(
    np.random.randn(9, 4)*100,
    index=["A", "B", "C", "D", "E", "F", "G", "H", "I"],
    columns=["coluna1", "coluna2", "coluna3","coluna4"],
)
df

      coluna1     coluna2     coluna3     coluna4
A   11.047837 -182.083323  -77.477229  131.067487
B    7.278472  113.412316   26.547409   34.861424
C -112.557868   45.420209  -31.481888   30.921867
D   73.721429  -43.951188  -55.134293  124.563170
E    7.034644  130.787701 -163.966694  -88.949333
F  -14.914063   45.933517 -125.360557   11.079864
G  -21.866303 -120.563491  -83.812971  -35.633110
H   -3.018402   74.270218    0.165396  -51.777984
I  -61.052009  -75.152729  -52.908545  -56.825408

In [4]:
df.dtypes

coluna1    float64
coluna2    float64
coluna3    float64
coluna4    float64
dtype: object

## Alterando os tipos de dados

In [5]:
df['coluna1'] = df['coluna1'].astype(int)

In [6]:
df.dtypes

coluna1      int32
coluna2    float64
coluna3    float64
coluna4    float64
dtype: object

In [7]:
df['coluna3'] = df['coluna3'].astype(str)

In [8]:
df.dtypes

coluna1      int32
coluna2    float64
coluna3     object
coluna4    float64
dtype: object

In [9]:
df

   coluna1     coluna2              coluna3     coluna4
A       11 -182.083323    -77.4772286185917  131.067487
B        7  113.412316   26.547408828966507   34.861424
C     -112   45.420209   -31.48188828367129   30.921867
D       73  -43.951188   -55.13429261145909  124.563170
E        7  130.787701  -163.96669374855247  -88.949333
F      -14   45.933517  -125.36055745579114   11.079864
G      -21 -120.563491   -83.81297109488155  -35.633110
H       -3   74.270218   0.1653956314272216  -51.777984
I      -61  -75.152729  -52.908545008724616  -56.825408

## Acrescentando dados faltantes na tabela

In [12]:
df.iloc[4,2]

nan

In [13]:
df.iloc[4,2] = np.nan

In [14]:
df

   coluna1     coluna2              coluna3     coluna4
A       11 -182.083323    -77.4772286185917  131.067487
B        7  113.412316   26.547408828966507   34.861424
C     -112   45.420209   -31.48188828367129   30.921867
D       73  -43.951188   -55.13429261145909  124.563170
E        7  130.787701                  NaN  -88.949333
F      -14   45.933517  -125.36055745579114   11.079864
G      -21 -120.563491   -83.81297109488155  -35.633110
H       -3   74.270218   0.1653956314272216  -51.777984
I      -61  -75.152729  -52.908545008724616  -56.825408

In [15]:
df.iloc[1,0] = np.nan
df.iloc[4,0] = np.nan
df.iloc[3,0] = np.nan
df.iloc[8,0] = np.nan
df.iloc[6,0] = np.nan
df.iloc[4,3] = np.nan
df.iloc[4,3] = np.nan
df.iloc[8,3] = np.nan

In [16]:
df

   coluna1     coluna2              coluna3     coluna4
A     11.0 -182.083323    -77.4772286185917  131.067487
B      NaN  113.412316   26.547408828966507   34.861424
C   -112.0   45.420209   -31.48188828367129   30.921867
D      NaN  -43.951188   -55.13429261145909  124.563170
E      NaN  130.787701                  NaN         NaN
F    -14.0   45.933517  -125.36055745579114   11.079864
G      NaN -120.563491   -83.81297109488155  -35.633110
H     -3.0   74.270218   0.1653956314272216  -51.777984
I      NaN  -75.152729  -52.908545008724616         NaN

In [14]:
# Os tipos de dados podem mudar após acrescentar um dado faltante
df.dtypes

coluna1    float64
coluna2    float64
coluna3     object
coluna4    float64
dtype: object

# 3. Identificando dados ausentes <a name="identificando"></a>
<div style="text-align: right"
     
[Voltar ao índice](#Contents)

In [17]:
df.isna()

   coluna1  coluna2  coluna3  coluna4
A    False    False    False    False
B     True    False    False    False
C    False    False    False    False
D     True    False    False    False
E     True    False     True     True
F    False    False    False    False
G     True    False    False    False
H    False    False    False    False
I     True    False    False     True

In [18]:
# Alias do isna
df.isnull()

   coluna1  coluna2  coluna3  coluna4
A    False    False    False    False
B     True    False    False    False
C    False    False    False    False
D     True    False    False    False
E     True    False     True     True
F    False    False    False    False
G     True    False    False    False
H    False    False    False    False
I     True    False    False     True

In [19]:
df['coluna1'].isna()

A    False
B     True
C    False
D     True
E     True
F    False
G     True
H    False
I     True
Name: coluna1, dtype: bool

In [20]:
df[df['coluna1'].isna()]

   coluna1     coluna2              coluna3     coluna4
B      NaN  113.412316   26.547408828966507   34.861424
D      NaN  -43.951188   -55.13429261145909  124.563170
E      NaN  130.787701                  NaN         NaN
G      NaN -120.563491   -83.81297109488155  -35.633110
I      NaN  -75.152729  -52.908545008724616         NaN

In [21]:
df[~df['coluna1'].isna()]

   coluna1     coluna2              coluna3     coluna4
A     11.0 -182.083323    -77.4772286185917  131.067487
C   -112.0   45.420209   -31.48188828367129   30.921867
F    -14.0   45.933517  -125.36055745579114   11.079864
H     -3.0   74.270218   0.1653956314272216  -51.777984

In [22]:
df['coluna1']

A     11.0
B      NaN
C   -112.0
D      NaN
E      NaN
F    -14.0
G      NaN
H     -3.0
I      NaN
Name: coluna1, dtype: float64

In [23]:
df['coluna1'].isna()

A    False
B     True
C    False
D     True
E     True
F    False
G     True
H    False
I     True
Name: coluna1, dtype: bool

In [24]:
df['coluna1'].isna().sum()

5

In [25]:
df.isna().sum()

coluna1    5
coluna2    0
coluna3    1
coluna4    2
dtype: int64

In [97]:
df['coluna2']

A    -29.152840
B     98.455629
C    -23.929166
D    -21.026139
E    192.406008
F     27.891742
G    -96.661886
H    -63.401987
I   -131.551463
Name: coluna2, dtype: float64

In [27]:
df['coluna2'].isna().sum()

0

In [26]:
percentage = (df.isnull().sum() / len(df)) * 100
percentage

coluna1    55.555556
coluna2     0.000000
coluna3    11.111111
coluna4    22.222222
dtype: float64

# 4. Tratando dados ausentes <a name="tratando"></a>
<div style="text-align: right"
     
[Voltar ao índice](#Contents)

In [28]:
df['coluna1']

A     11.0
B      NaN
C   -112.0
D      NaN
E      NaN
F    -14.0
G      NaN
H     -3.0
I      NaN
Name: coluna1, dtype: float64

## Substituindo por 0

In [29]:
df['coluna1'].fillna(0)

A     11.0
B      0.0
C   -112.0
D      0.0
E      0.0
F    -14.0
G      0.0
H     -3.0
I      0.0
Name: coluna1, dtype: float64

## Substituindo pela média

In [30]:
df['coluna1']

A     11.0
B      NaN
C   -112.0
D      NaN
E      NaN
F    -14.0
G      NaN
H     -3.0
I      NaN
Name: coluna1, dtype: float64

In [31]:
(-23.0-132.0+94.0+0)/4

-15.25

In [32]:
df['coluna1'].mean()

-29.5

In [33]:
med_col1 = df['coluna1'].mean()

In [34]:
df['coluna1'].fillna(med_col1)

A     11.0
B    -29.5
C   -112.0
D    -29.5
E    -29.5
F    -14.0
G    -29.5
H     -3.0
I    -29.5
Name: coluna1, dtype: float64

## Substituindo pela mediana

In [35]:
df['coluna1']

A     11.0
B      NaN
C   -112.0
D      NaN
E      NaN
F    -14.0
G      NaN
H     -3.0
I      NaN
Name: coluna1, dtype: float64

In [36]:
df['coluna1'].sort_values()

C   -112.0
F    -14.0
H     -3.0
A     11.0
B      NaN
D      NaN
E      NaN
G      NaN
I      NaN
Name: coluna1, dtype: float64

In [39]:
(-77-33)/2

-55.0

In [38]:
df['coluna1'].median()

-8.5

In [40]:
mediana_col1 = df['coluna1'].median()

In [41]:
df['coluna1'].fillna(mediana_col1)

A     11.0
B     -8.5
C   -112.0
D     -8.5
E     -8.5
F    -14.0
G     -8.5
H     -3.0
I     -8.5
Name: coluna1, dtype: float64

In [43]:
df['coluna1'].ffill()

A     11.0
B     11.0
C   -112.0
D   -112.0
E   -112.0
F    -14.0
G    -14.0
H     -3.0
I     -3.0
Name: coluna1, dtype: float64

In [44]:
df['coluna1'].dropna()

A     11.0
C   -112.0
F    -14.0
H     -3.0
Name: coluna1, dtype: float64

In [45]:
# dropar todas as linhas que tenha pelo menos 1 NA
df.dropna()

   coluna1     coluna2              coluna3     coluna4
A     11.0 -182.083323    -77.4772286185917  131.067487
C   -112.0   45.420209   -31.48188828367129   30.921867
F    -14.0   45.933517  -125.36055745579114   11.079864
H     -3.0   74.270218   0.1653956314272216  -51.777984

# 5. Dados duplicados <a name="duplicados"></a>
<div style="text-align: right"
     
[Voltar ao índice](#Contents)

In [50]:
df_dup = pd.concat([df, df.loc['D':'H', :]]).sort_index()
df_dup

   coluna1     coluna2              coluna3     coluna4
A     11.0 -182.083323    -77.4772286185917  131.067487
B      NaN  113.412316   26.547408828966507   34.861424
C   -112.0   45.420209   -31.48188828367129   30.921867
D      NaN  -43.951188   -55.13429261145909  124.563170
D      NaN  -43.951188   -55.13429261145909  124.563170
E      NaN  130.787701                  NaN         NaN
E      NaN  130.787701                  NaN         NaN
F    -14.0   45.933517  -125.36055745579114   11.079864
F    -14.0   45.933517  -125.36055745579114   11.079864
G      NaN -120.563491   -83.81297109488155  -35.633110
G      NaN -120.563491   -83.81297109488155  -35.633110
H     -3.0   74.270218   0.1653956314272216  -51.777984
H     -3.0   74.270218   0.1653956314272216  -51.777984
I      NaN  -75.152729  -52.908545008724616         NaN

In [51]:
df_dup.drop_duplicates()

   coluna1     coluna2              coluna3     coluna4
A     11.0 -182.083323    -77.4772286185917  131.067487
B      NaN  113.412316   26.547408828966507   34.861424
C   -112.0   45.420209   -31.48188828367129   30.921867
D      NaN  -43.951188   -55.13429261145909  124.563170
E      NaN  130.787701                  NaN         NaN
F    -14.0   45.933517  -125.36055745579114   11.079864
G      NaN -120.563491   -83.81297109488155  -35.633110
H     -3.0   74.270218   0.1653956314272216  -51.777984
I      NaN  -75.152729  -52.908545008724616         NaN

In [49]:
df_dup.drop_duplicates(subset=['coluna1'])

   coluna1     coluna2              coluna3     coluna4
A     11.0 -182.083323    -77.4772286185917  131.067487
B      NaN  113.412316   26.547408828966507   34.861424
C   -112.0   45.420209   -31.48188828367129   30.921867
F    -14.0   45.933517  -125.36055745579114   11.079864
H     -3.0   74.270218   0.1653956314272216  -51.777984

In [52]:
df_dup.duplicated()

A    False
B    False
C    False
D    False
D     True
E    False
E     True
F    False
F     True
G    False
G     True
H    False
H     True
I    False
dtype: bool

In [53]:
df_dup[df_dup.duplicated()]

   coluna1     coluna2              coluna3     coluna4
D      NaN  -43.951188   -55.13429261145909  124.563170
E      NaN  130.787701                  NaN         NaN
F    -14.0   45.933517  -125.36055745579114   11.079864
G      NaN -120.563491   -83.81297109488155  -35.633110
H     -3.0   74.270218   0.1653956314272216  -51.777984

# 6. Mapeamentos <a name="map"></a>
<div style="text-align: right"
     
[Voltar ao índice](#Contents)

In [54]:
# 1 feminino, 0 masculino
genero = pd.Series([1,0,1,1,1,1,0,0,0,1,1,0])
genero

0     1
1     0
2     1
3     1
4     1
5     1
6     0
7     0
8     0
9     1
10    1
11    0
dtype: int64

In [55]:
genero.map({1:'Feminino', 0:'Masculino'})

0      Feminino
1     Masculino
2      Feminino
3      Feminino
4      Feminino
5      Feminino
6     Masculino
7     Masculino
8     Masculino
9      Feminino
10     Feminino
11    Masculino
dtype: object

In [56]:
genero_2 = genero.map({1:'Feminino', 0:'Masculino'})

In [57]:
genero.map({1:'Feminino', 2:'Masculino'})

0     Feminino
1          NaN
2     Feminino
3     Feminino
4     Feminino
5     Feminino
6          NaN
7          NaN
8          NaN
9     Feminino
10    Feminino
11         NaN
dtype: object

In [58]:
genero_2.map('Genero: {}'.format)

0      Genero: Feminino
1     Genero: Masculino
2      Genero: Feminino
3      Genero: Feminino
4      Genero: Feminino
5      Genero: Feminino
6     Genero: Masculino
7     Genero: Masculino
8     Genero: Masculino
9      Genero: Feminino
10     Genero: Feminino
11    Genero: Masculino
dtype: object