# Índice <a name="Contents"></a>
1. [Importando bibliotecas](#import)
2. [Construindo um dataframe ](#read)
3. [Amostragem (sample)](#amostragem)
3. [Intro sobre métodos de string](#strings)

# 1. Importando bibliotecas <a name="import"></a>

<div style="text-align: right"
     
[Voltar ao índice](#Contents)

In [1]:
import numpy  as np
import pandas as pd

# 2. Construindo um dataframe  <a name="read"></a>
<div style="text-align: right"
     
[Voltar ao índice](#Contents)

In [5]:
df = pd.DataFrame(np.random.randint(1000000, size=(1000000, 10)),
             columns=['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J'])

# 3. Amostragem <a name="amostragem"></a>
<div style="text-align: right"
     
[Voltar ao índice](#Contents)

In [6]:
df.shape

(1000000, 10)

In [7]:
df.sample(10)

,A,B,C,D,E,F,G,H,I,J
451170,440669,160795,369530,207044,363430,246444,319031,102613,170596,910831
394484,956868,73585,839090,609087,885432,310703,77258,395052,970246,929532
355314,142411,15208,157242,590578,170802,476293,949990,376950,151487,433248
401689,41102,501996,619232,202844,830536,323225,217031,720965,80558,232953
748452,826757,102023,82866,431332,10892,925742,6427,152767,388526,965663
144432,710782,446911,380992,806541,269424,528367,323644,679884,95039,531696
151599,186487,721473,398056,585670,444726,344210,193391,217815,616133,415004
210132,519093,108236,401533,307196,806540,108916,681104,640236,80618,192420
996167,484931,901188,542731,603967,873625,930377,959378,551305,932831,862114
419792,257010,172421,112653,331256,460948,49261,119747,762658,176795,848506

In [9]:
df.sample(10, random_state=100)

,A,B,C,D,E,F,G,H,I,J
617759,142216,339012,331336,848627,799023,329349,535792,903409,393501,816
693227,122716,94184,723644,9753,738224,383825,67087,934151,307448,750026
906065,416980,213901,698998,926561,88530,300295,148167,948215,276365,899527
828507,915226,395837,676073,989127,640000,846253,357663,141621,675007,623722
869730,337901,535506,897016,170066,130453,545679,117275,505650,994939,627786
147081,171617,143781,917327,371909,712788,328675,335361,821295,7719,939125
779428,228908,988090,683046,484697,218233,451854,505006,894177,731089,769598
485973,25357,206733,189348,42028,757032,162053,382641,181839,986620,2407
30697,485333,884844,861255,114489,583207,846407,472596,673494,67436,175141
306669,139506,802821,139927,29002,332267,375022,645989,587360,319183,83896

In [10]:
df.sample(frac=0.1, random_state=100)

,A,B,C,D,E,F,G,H,I,J
617759,142216,339012,331336,848627,799023,329349,535792,903409,393501,816
693227,122716,94184,723644,9753,738224,383825,67087,934151,307448,750026
906065,416980,213901,698998,926561,88530,300295,148167,948215,276365,899527
828507,915226,395837,676073,989127,640000,846253,357663,141621,675007,623722
869730,337901,535506,897016,170066,130453,545679,117275,505650,994939,627786
...,...,...,...,...,...,...,...,...,...,...
599633,561389,392283,818782,227260,440528,722252,416650,412205,118869,399965
103907,186969,195316,622193,587406,579775,955126,636836,36015,366161,807776
536846,632029,26174,70011,832733,213861,144731,360757,419855,545082,524146
68354,409581,51475,119012,245164,635365,248138,701431,820980,113714,124701
762302,279180,619870,174890,976096,540366,658979,460208,138034,740316,148980

# 4. Manipulação de strings - métodos <a name="strings"></a>
<div style="text-align: right"
     
[Voltar ao índice](#Contents)

In [11]:
texto = 'texto'

In [12]:
texto[::-1]

'otxet'

In [13]:
palindromo = 'apos a sopa'

In [14]:
palindromo[::-1]

'apos a sopa'

In [15]:
texto = 'teXTO'
texto.capitalize()

'Texto'

In [16]:
texto.lower()

'texto'

In [17]:
texto.upper()

'TEXTO'

In [18]:
# S.find(sub[, start[, end]]) -> int
texto.find('X')

2

In [19]:
texto[2]

'X'

In [20]:
#S.find(sub[, start[, end]]) -> int
texto.find('x')

-1

In [21]:
#texto.replace(antigo, novo)
texto.replace('XTO','sta')

'testa'