In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

sns.set_theme()
%matplotlib inline

In [7]:
file = pd.read_csv('DNOPEN22.csv', sep=';', low_memory=False)
file

,ORIGEM,CODESTAB,CODMUNNASC,LOCNASC,IDADEMAE,ESTCIVMAE,ESCMAE,CODOCUPMAE,QTDFILVIVO,QTDFILMORT,...,TPDOCRESP,DTDECLARAC,ESCMAEAGR1,STDNEPIDEM,STDNNOVA,CODPAISRES,TPROBSON,PARIDADE,KOTELCHUCK,CONTADOR
0,1,2516500.0,110001,1,40.0,1.0,5.0,231210.0,2.0,1.0,...,5.0,3012022.0,8.0,0.0,1,1.0,7,1,5,1
1,1,2516500.0,110001,1,32.0,2.0,4.0,999992.0,0.0,0.0,...,3.0,7012022.0,6.0,0.0,1,1.0,1,0,5,2
2,1,2516500.0,110001,1,26.0,5.0,3.0,999992.0,1.0,1.0,...,3.0,12012022.0,3.0,0.0,1,1.0,5,1,5,3
3,1,2516500.0,110001,1,31.0,2.0,5.0,999992.0,1.0,0.0,...,3.0,12012022.0,8.0,0.0,1,1.0,5,1,5,4
4,1,2516500.0,110001,1,27.0,5.0,5.0,241005.0,0.0,0.0,...,3.0,17012022.0,8.0,0.0,1,1.0,2,0,5,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2561917,2,2079887.0,353440,1,23.0,1.0,4.0,NaN,1.0,0.0,...,3.0,24052022.0,6.0,0.0,1,1.0,3,1,2,2561918
2561918,2,5101654.0,353440,1,39.0,2.0,4.0,422105.0,3.0,1.0,...,3.0,25052022.0,6.0,0.0,1,1.0,10,1,5,2561919
2561919,2,5101654.0,353440,1,32.0,2.0,5.0,252515.0,0.0,0.0,...,3.0,26052022.0,8.0,0.0,1,1.0,2,0,5,2561920
2561920,2,2079887.0,353440,1,28.0,1.0,4.0,411010.0,1.0,0.0,...,3.0,24052022.0,6.0,0.0,1,1.0,5,1,5,2561921
2561921,2,5101654.0,353440,1,28.0,2.0,5.0,521110.0,1.0,0.0,...,3.0,26052022.0,8.0,0.0,1,1.0,10,1,5,2561922

In [8]:
file.shape

(2561922, 61)